# Python
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
venv/
.venv/
env/

# Variables de entorno y credenciales
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log

# AWS
.aws/

# Docker
docker-compose.override.yml
